- quests = character.quests

.quest_log
  - if quests.blank?
    %h2 No Quests
  - else
    %h2 Quest List
    %ul.nav.nav-tabs.nav-stacked
      - quests.each do |quest|
        %li{:data => {:id => quest.quest_id, :action => quest.state == "started" ? "end" : "start", :url => quest.state == "started" ? finish_quest_character_path(character) : start_quest_character_path(character)}}
          %a
            -if quest.bug?
              %i.icon-leaf
            - else
              %i.icon-flag
            %span.quest_name= quest.name
            - if quest.state == "started"
              .btn.btn-success.btn-mini.pull-right
                Done
            - else
              .btn.btn-warning.btn-mini.pull-right
                Start
