.dashboard {
  .char-info {
    margin-top: 20px;
  }

  .char-data-section {
    margin-bottom: 20px;
    overflow: hidden;
  }

  h2 {
    color: #333;
    text-align:  left;
  }
}

.quest_name{
  text-overflow: ellipsis;
}

.quest_log{
  .nav-tabs{
    background: rgba(255,255,255,0.3);
    border: 1px solid black;
  }
  .nav-tabs > li > a {
    overflow: hidden;
  }
}