.dashboard.span12
  .span4.char-info.pull-left
    .row.char-data-section
      != render :partial => "/character/character", :locals => {character: @current_character}
    .row.char-data-section
      != render :partial => "/character/quest_log", :locals => {character: @current_character}
  .span7
    != render :partial => "/partials/hub"

