/*
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

body { padding-top: 60px} /* Must be between bootstrap and bootstrap-responsive */

@import "bootstrap-responsive";

/* System Pages */
@import "pages/landing.css.scss";
@import "pages/dashboard.css.scss";


body {
  font-family: 'Press Start 2P', cursive;
  background: #ff7f50;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

h1{
  padding: 30px;
  font-size: 100px;
  color: yellow;
  text-shadow: black 10px 10px;
  text-align: center;
}

.navbar .brand{
  color: yellow;
  text-shadow: blue 3px 3px;
}

h2{
  font-size: 16px;
  text-align: center;
  color: white;
}

span.description{
  float: left;
}


input[type=submit] {
  box-shadow: black 5px 5px;
  border: none;
  color: #555;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 0px;
  font-family: 'Press Start 2P', cursive;
}

.dropdown-toggle {
  padding: 0px !important;
  .account-name {
    color: #005580 !important;
  }

  .nav-text {
    font-size: 12px;
  }
}
