/*
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

body { padding-top: 60px} /* Must be between bootstrap and bootstrap-responsive */

@import "bootstrap-responsive";
@import "pages/landing.css.scss";


body {
  font-family: 'Press Start 2P', cursive;
  background: #ff7f50
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

h1{
  padding: 30px;
  font-size: 100px;
  color: yellow;
  text-shadow: black 10px 10px;
  text-align: center;
}

.navbar .brand{
  color: yellow;
  text-shadow: blue 3px 3px;
}

h2{
  font-size: 16px;
  text-align: center;
  color: white;
}

